<%= devise_error_messages! %>

<div class="super_container">

  <div class="home profile">
    <div class="home_background parallax-window" data-parallax="scroll" data-speed="0.8">
      <%= image_tag("find.jpg") %>
    </div>
      <div class="home_content">
        <div class="home_content_inner">
        <span class="home_text_small">Nouveau mot de passe</span>
        </div>
      </div>
    </div>
  </div>

  <div id="ancre">
    <div class="container">
      <div class="row contact_content">
        <div class="col-lg-6 devise-form">
          <div class="contact_form_container">
                         <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "clearfix", id: "contact_form") do |f| %>
                          
                <%= f.hidden_field :reset_password_token %>
						    <% if @minimum_password_length %>
						      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
						    <% end %>

              	<%= f.label :nouveau_mot_de_passe %><br />
						    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "contact_input contact_input_subject", id: "contact_input_subject", type: "password", placeholder: "Nouveau mot de passe" %>
						    <%= f.label :confirmation_mot_de_passe %><br />
						    <%= f.password_field :password_confirmation, autocomplete: "off", class: "contact_input contact_input_subject", id: "contact_input_subject", type: "password", placeholder: "Confirmation nouveau mot de passe" %>
								<%= f.submit "Réinitialiser", class: "contact_send_btn trans_200", id: "contact_send_btn" %>
							<% end %>
              <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>