<div class="super_container">

  <div class="home contact">
    <div class="home_background parallax-window small-banner" data-parallax="scroll" data-speed="0.8">
      <%= image_tag("news.jpg") %>
    </div>
    <div class="home_content">
      <div class="home_content_inner">
        <%= link_to "Mes commandes", "#ancre", class: "home_text_small" %>
      </div>
    </div>
  </div>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Commande n°</th>
        <th scope="col">Départ</th>
        <th scope="col">Destination</th>
        <th scope="col">Prix</th>
        <th scope="col">Date</th>
        <th scope="col">Commandé le</th>
      </tr>
    </thead>

    <tbody>
        <% @orders.each_with_index do |order, i| %>
          <tr>
            <th scope="row"> <%= i + 1 %> </th>
            <td class="order-row"><%= order.city_departure %></td>
            <td class="order-row"><%= order.destination %></td>
            <td class="order-row"><%= order.price %>€</td>
            <td class="order-row"><%= order.departure_date %></td>
            <td class="order-row"><%= order.created_at %></td>
          </tr>
        <% end %>
    </tbody>

  </table>

</div>