<div class="super_container">

  <div class="home contact">
    <div class="home_background parallax-window small-banner" data-parallax="scroll" data-speed="0.8">
      <%= image_tag("news.jpg") %>
    </div>
    <div class="home_content">
      <div class="home_content_inner">
        <%= link_to "Mes commandes", "#ancre", class: "home_text_small" %>
      </div>
    </div>
  </div>

  <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Commande n°</th>
      <th scope="col">Destination</th>
      <th scope="col">Départ</th>
      <th scope="col">Prix</th>
      <th scope="col">Date</th>
      <th scope="col">Commandé le</th>

    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <th scope="row"> <%= order.id %> </th>
      <td><%= order.destination %></td>
      <td><%= order.city_departure %></td>
      <td><%= order.price %>€</td>
      <td><%= order.departure_date %></td>
      <td><%= order.created_at %></td>

    </tr>
    <% end %>
  </tbody>
</table>

</div>