<div class="super_container">
  
  <!-- Home -->

  <div class="home">
    <!-- Image by https://unsplash.com/@peecho -->
    <div class="home_background parallax-window" data-parallax="scroll" data-speed="0.8">
      <%= image_tag("find.jpg") %>
    </div>
      <div class="home_content">
        <div class="home_content_inner">
          <%= link_to "Modifier mon profil", "#ancre", class: "home_text_small" %>
        </div>  
      </div>
    </div>
  </div>

  <!-- Contact -->

  <div class="contact" id="ancre">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="contact_title">Veuillez vous authentifier</div>
        </div>
      </div>
      <div class="row contact_content">

        <div class="col-lg-7">
          <div class="contact_form_container">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "clearfix", id: "contact_form") do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>  

              <%= f.label :adresse_email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "contact_input contact_input_subject", id: "contact_input_subject", type: "email", placeholder: "Adresse email" %>
              <%= f.label :mot_de_passe %><br />
              <%= f.password_field :password, autofocus: true, autocomplete: "current-password", class: "contact_input contact_input_subject", id: "contact_input_subject", type: "password", placeholder: "Mot de passe" %>
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
               <%= f.label :se_rappeler_de_moi %>
              <% end %>
            <%= f.submit "Connexion", class: "contact_send_btn trans_200", id: "contact_send_btn" %>
            <% end %>
            <%= render "devise/shared/links" %>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>