<div class="services">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title text-center">
					<h2>Vos résultats de recherche</h2><br><br><br><br>
				</div>
			</div>
		</div>

<% (0...@price_result.length).step(2) { |i| %>

			<div class="card">
			    <table>
			        <tbody>
			            <tr class="card-row">
			              <td>
			              	<p class="card-departure-time"> <%= @departuredate_result[i] %> <br>
			              	<span class="card-departure-place">  <%=  @departure_result[i] %> </span></p>
                   		 </td>
			              <td>
			              	<p class="card-duration"> <%= @departureduration_result[i] %>  </p>
                  		 </td>
			              <td class="font-weight-normal align-middle">	<p class="card-arrival-time"> <%= @arrivaldate_result[i] %> <br>
			              	<span class="card-arrival-place"> <%= @destination_result[i] %> </span></p>
             		       </td>
			              <td class="cell-price">
			                <p class="card-price"><%= @price_result[i] %></p>

			              </td>
			              <td class="card-icon-favorite">
			              	<% if current_user %>
                    			<%= link_to '<button><i class="fa fa-star"></i></button>'.html_safe, favorites_path, data: {:method => "create"} %>
                  			<% else %>
                    			<%= link_to '<button><i class="fa fa-star"></i></button>'.html_safe,  new_user_session_path %>
                  			<% end %>
			              </td>
			            </tr>
			            <tr>
			              <td>
			              	<p class="card-departure-time"> <%= @departuredate_result[i + 1] %> <br>
			              	<span class="card-departure-place"> <%=  @departure_result[i + 1] %> </span></p>
                   		 </td>
			              <td>
			              	<p class="card-duration"> <%= @departureduration_result[i + 1] %>  </p>
                  		 </td>
			              <td class="font-weight-normal align-middle"> <p class="card-arrival-time"> <%= @arrivaldate_result[i + 1] %><br>
			              	<span class="card-arrival-place"> <%= @destination_result[i + 1] %> </span></p>
             		       </td>
			              <td class="cell-price">
			              	<%= link_to "Réserver", order_path(:id => i, :price => @price_result[i]), target: "_blank", class:"btn btn-outline-danger mr-1" %>
                   		 </td>
			              <td></td>
			            </tr>
			        </tbody>
			    </table>
			</div>
			<% end %>
		</div>
  </div>