<br>
<% results.each do |result| %>
  <div class="popular">
   <div class="container"><div>
     <div class="card">
       <table>
           <tbody>
             <tr>
               <% result['offerItems'].each do |offerItem| %>
                <% offerItem['services'].each do |service| %>
                  <% service['segments'].each do |segment| %>
                    <!-- <p>Vol direct : <%= segment['flightSegment']['aircraft'].count.to_i %></p> -->
                  
                
                    <td>
                     <p class="card-departure-time">Départ :
                      <%= segment['flightSegment']['departure']['at'].slice(11...16) %>
                      <br>
                     <span class="card-departure-place"><%= segment['flightSegment']['departure']['iataCode'] %></span> --> </p>
                    </td>
                                     
                    <td class="font-weight-normal align-middle">	
                      <p class="card-arrival-time">Arrivée : <%= segment['flightSegment']['arrival']['at'].slice(11...16) %>
                        <br>
                     <span class="card-arrival-place"><%= segment['flightSegment']['arrival']['iataCode'] %></span></p>
                    </td>
                  <% end %>
                <% end %>
                    <td class="cell-price">
                     <p class="card-price">Prix : <%= offerItem['price']['total'] %><br><button type="button" class="btn btn-info">Voir</button></p>
                    </td>
               <% end %>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>
 </div>
<% end %>

