<div class="super_container">

  <div class="home">
    <%= image_tag("home.jpg", class: "home_background") %>
		<div class="home_content home_content_banner">
			<div class="home_content_inner">
				<div class="home_text_large">zigzago</div>
				<div class="home_text_small">Travel your way</div>
			</div>
		</div>
  </div>

	<div class="find">
    <div class="find_background">

    </div>
		<div id="search-anchor" class="search_container">
			<div class="row">
				<%= form_tag url_for(action: 'create'), remote: true, id: "find_form", method: "post",  class: "find_form d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap" do %>

						<div class="col-md-2 col-lg-2 find_item">
							<div>Départ :</div>

							<input id="basics" type="text" class="destination find_input" required="required" placeholder="D'où partir ?" <%= text_field_tag :departure %>
						</div>

						<div class="col-md-2 col-lg-2 find_item">
							<div>Arrivée :</div>

  							<input type="text" class="destination find_input" required="required" placeholder="Où aller ?" <%= text_field_tag :arrival %>
  						</div>

						<div class="col-md-2 col-lg-2 find_item">
							<div>Date aller :</div>

                <input class="destination find_input" <%= date_field_tag :departure_date %>

						</div>

						<div class="col-md-2 col-lg-2 find_item">
							<div>Date retour :</div>

                <input class="destination find_input" <%= date_field_tag :return_date %>

						</div>

            <div class="col-md-2 col-lg-2 find_item">
              <%= button_tag(type: "submit", class: "btn-search-plane") do %>
                  <i class='fa fa-plane search-plane animated infinite pulse delay-2s' data-toggle="tooltip" title="Rechercher mon vol"></i>
              <% end %>
            </div>
          <% end %>
  			</div>
  		</div>
    </div>

    <!-- <div class="atom-spinner">
      <div class="spinner-inner">
        <div class="spinner-line"></div>
        <div class="spinner-line"></div>
        <div class="spinner-line"></div>
        <div class="spinner-circle">
          &#9679;
        </div>
      </div>
    </div> -->

  <div id="results" >
  </div>

	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h2>Find the adventure of a lifetime</h2>
					</div>
				</div>
			</div>
			<div class="row icon_box_container">

				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
            <div class="icon_box_image"><%= image_tag("service_1.svg", class: "svg") %></div>
						<div class="icon_box_title">Tes séjours à l'imprévu</div>
						<p class="icon_box_text">Entre amis ou avec ta dulcinée, en famille ou même en solitaire, choisis l'aventure et décide de partir à l'improviste : zigzago te dévoile toutes les possibilités qui s'offrent à toi. </p>
					</div>
				</div>

				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
            <div class="icon_box_image"><%= image_tag("service_2.svg", class: "svg") %></div>
            <div class="icon_box_title">Tes séjours organisés</div>
  					<p class="icon_box_text">À 10 000km ou à 100, à l'autre bout du monde ou près de chez toi, il y a toujours des mondes inconnus à découvrir. Avec zigzago, découvre des destinations insoupsonnées pour des voyages inoubliables.</p>
					</div>
				</div>

				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
            <div class="icon_box_image"><%= image_tag("service_3.svg", class: "svg") %></div>
            <div class="icon_box_title">Tu choisis</div>
						<p class="icon_box_text"> En avion, certes ! Mais aussi en train, en bus, ou en blablacar. Zigzago te propose de nombreuses fonctionnalités pour trouver le bon compromis entre destination, prix, durée du trajet etc... </p>
					</div>
				</div>
			</div>
		</div>
  </div>


    <!-- Cards without Details collapse -->

	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h2>Vos résultats de recherche</h2><br><br><br><br>
					</div>
				</div>
			</div>

			<div class="card">
			    <table>
			        <tbody>
			            <tr>
			              <td>
			              	<p class="card-departure-time">Heure départ<br>
			              	<span class="card-departure-place">Lieu départ</span></p>
                    </td>
			              <td>
			              	<p class="card-duration">X escale(s)<br>Durée</p>
                    </td>
			              <td class="font-weight-normal align-middle">	<p class="card-arrival-time">Heure arrivée<br>
			              	<span class="card-arrival-place">Lieu arrivée</span></p>
                    </td>
			              <td class="cell-price">
			                <p class="card-price">Prix<br></p>
			              </td>
			              <td class="card-icon-favorite">
			                <!--- <p><%= image_tag("star-yellow.svg", class: "icon_star") %><br></p> --->
			              </td>
			            </tr>
			            <tr>
							<td></td>
			              <td><p class="card-details"><button type="button" class="button-blue">Détails</button></p>
                    </td>
			              <td class="font-weight-normal align-middle">
                    </td>
			              <td class="cell-price">
			              	<p class="card-book"><button type="button" class="btn btn-outline-danger mr-1">Réserver</button></p>
                    </td>
			            </tr>
			        </tbody>
			    </table>
			</div>

			<div class="col">
				<div class="section_title text-center">
					<button class="button-blue"><i class="fa fa-home"></i> Résultats suivants </button>
      			</div>
      		</div>
		</div>
	</div>


    <!-- Cards with Details collapse -->

	<div class="section_title text-center">
						<h2>Détails du vol</h2><br><br><br><br>
					</div>
				</div>
			</div>
		<div>

			<div class="card">
			    <table>
			        <tbody>
			            <tr class="card-show-flight-main">
			              <td>
			              	<p class="card-show-departure">Heure départ<br>
			              	<span class="card-departure-place">Lieu départ</span></p></td>
			              <td>
			              	<p class="card-duration">X escale(s)<br>Durée</p></td>
			              <td class="font-weight-normal align-middle">	<p class="card-show-arrival">Heure arrivée<sup> +1</sup><br>
			              	<span class="card-arrival-place">Lieu arrivée</span></p></td>
			            </tr>
			         	<tr class="card-show-flight-main">
			              <td></td>
			              <td class="card-show-td-button" align="center">
			            	<button type="button" class="button-blue" data-toggle="collapse" data-target="#collapseme">Détails</button>
			              	</td>
			              <td></td>
			            </tr>

			            <tr class="collapse out" id="collapseme">
			              <td>
			              	<p class="card-show-flight-details">Durée</p></td>
			              <td>
			              	<p class="card-show-flight-details">Heure départ<br>Heure arrivée<sup> +1</sup></p>
                    </td>
			              <td class="font-weight-normal align-middle">
                      <p class="card-show-flight-details">AITA aéroport<br>AITA aéroport</p>
                    </td>
			            </tr>
			        </tbody>
			    </table>
			</div>

				<div class="col">
					<div class="section_title text-center">
						<span class="card-show-price">Prix   </span><a href="#" class="btn btn-outline-danger mr-1"> Réserver
      					</a>
      				</div>
      			</div>

			</div>
		</div>
	</div>


    <!-- Popular -->

	<div class="popular">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="popular_content d-flex flex-md-row flex-column flex-wrap align-items-md-center align-items-start justify-content-md-between justify-content-start">

						<div class="col-sm-12 col-lg-3 col-md-6 trip_picture">
              <%= link_to image_tag("popular_1.jpg"), "https://www.tripadvisor.fr/Home-g293969?fid=65aa7117-76fc-429c-843d-e99314cd982d", target: "_blank" %>
							<div class="popular_item_content">
								<div class="popular_item_title">Turkey</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-3 col-md-6 trip_picture">
              <%= link_to image_tag("popular_2.jpg"), "https://www.tripadvisor.fr/Home-g28932", target: "_blank" %>
							<div class="popular_item_content">
								<div class="popular_item_title">Hawai</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-3 col-md-6 trip_picture">
              <%= link_to image_tag("popular_3.jpg"), "https://www.tripadvisor.fr/Home-g186591", target: "_blank" %>
							<div class="popular_item_content">
								<div class="popular_item_title">Ireland</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-3 col-md-6 trip_picture">
              <%= link_to image_tag("popular_4.jpg"), "https://www.tripadvisor.fr/Home-g293915", target: "_blank" %>
							<div class="popular_item_content">
								<div class="popular_item_title">Thailand</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-3 col-md-6 trip_picture">
              <%= link_to image_tag("popular_5.jpg"), "https://www.tripadvisor.fr/Home-g294453", target: "_blank" %>
							<div class="popular_item_content">
								<div class="popular_item_title">Croatia</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-3 col-md-6 trip_picture">
              <%= link_to image_tag("popular_6.jpg"), "https://www.tripadvisor.fr/Home-g294226", target: "_blank" %>
							<div class="popular_item_content">
								<div class="popular_item_title">Bali</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-3 col-md-6 trip_picture">
              <%= link_to image_tag("popular_7.jpg"), "https://www.tripadvisor.fr/Home-g187070", target: "_blank" %>
							<div class="popular_item_content">
								<div class="popular_item_title">France</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-3 col-md-6 trip_picture">
              <%= link_to image_tag("popular_8.jpg"), "https://www.tripadvisor.fr/Home-g293921", target: "_blank" %>
							<div class="popular_item_content">
								<div class="popular_item_title">Vietnam</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
