
<div class="super_container">

	<!-- Home -->

  <div class="home">
    <%= image_tag("home.jpg", class: "home_background") %>
		<div class="home_content">
			<div class="home_content_inner">
				<div class="home_text_large">zigzago</div>
				<div class="home_text_small">A new way to travel</div>
			</div>
		</div>
  </div>

	<!-- Find Form -->

	<div class="find">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="find_title text-center">Mes recherches enregistrées</div>
				</div>

				<div class="col-12">
					<div class="find_form_container">
						<%= form_tag url_for(action: 'create'), remote: true, id: "find_form", method: "post",  class: "find_form d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap" do %>
						<%= image_tag("save_search.jpg", class: "find_background") %>

								<div class="find_item">
									<div>Départ :</div>

									<input type="text" class="destination find_input" required="required" placeholder="D'où partir ?" <%= text_field_tag :departure %>

									<div>Arrivée :</div>

									<input type="text" class="destination find_input" required="required" placeholder="Où aller ?" <%= text_field_tag :arrival %>
								</div>

								<div class="find_item">
									<div>Date aller :</div>

									<input class="destination find_input" required="required" placeholder="mm/dd/yyyy" <%= text_field_tag :departure_date %>

									<div>Date retour :</div>

									<input class="destination find_input" required="required" placeholder="mm/dd/yyyy" <%= text_field_tag :return_date %>
								</div>

								<div class="find_item">
									<div><input type="button" class="button find_button" value="Rechercher"></div>
									<div><input type="button" class="button delete_button" value="Supprimer"></div>
								</div>



             			<% end %>

					</div>
				</div>

			</div>
		</div>
  </div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>



