
<div class="super_container">

	<!-- Home -->

  <div class="home">
    <%= image_tag("home.jpg", class: "home_background") %>
		<div class="home_content">
			<div class="home_content_inner">
				<div class="home_text_large">zigzago</div>
				<div class="home_text_small">A new way to travel</div>
			</div>
		</div>
  </div>

	<!-- Save Form -->

	<div class="find">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="find_title text-center">Mes recherches enregistrées</div>
				</div>

				<div class="col-12">
					<div class="find_form_container">
						<%= form_tag url_for(action: 'show'), remote: true, id: "find_form", method: "post",  class: "find_form d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap" do %>

						
						<%= @apisearch.each do |f| %>
						<%= image_tag("save_search.jpg", class: "find_background") %>
							<div class="col-md-2 col-lg-2 find_item">
								<p id="input-departure" type="text" class="destination find_input" required="required" placeholder="D'où partir ?" <%= text_field_tag :departure %> <%=  f.city_departure %></p>
							</div>

							<div class="col-md-2 col-lg-2 find_item">
								<p id="input-arrival" type="text" class="destination find_input" required="required" placeholder="Où aller ?" <%= text_field_tag :arrival %> <%= f.city_arrival %></p>
  							</div>

							<div class="col-md-2 col-lg-2 find_item">
								<p class="destination find_input" <%= date_field_tag :departure_date %> <%= f.departure_date %></p>
							</div>

							<div class="col-md-2 col-lg-2 find_item">
								<p class="destination find_input" <%= date_field_tag :return_date %> <%= f.return_date %></p>
							</div>
							<div class="col-md-2 col-lg-2 find_item">
								<%= link_to apisearches_path, class: "btn-search-plane" do %>
								<i class='fa fa-plane search-plane animated infinite pulse delay-2s ' data-toggle="tooltip" title="Rechercher mon vol"></i>
								<% end %>
							
								<%= link_to apisearch_path(:id => f.id), method: "DELETE", class: "btn-delete-search" do %>
								<i class='fa fa-trash' data-toggle="tooltip" title="Effacer ma recherche"></i>
								<% end %>
							</div>
						<% end %>
						<% end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>