	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_container d-flex flex-row align-items-center justify-content-start">

						<div class="logo_container">
							<div class="logo">
								<div>zigzago</div>
								<div> Travel your way </div>
								<%= link_to image_tag("logo.png"), root_path, class: "logo_image" %>
							</div>
						</div>

						<nav class="main_nav ml-auto">
							<ul class="main_nav_list">
								<li class="main_nav_item active"><%= link_to 'Accueil', root_path %></li>
								<li class="main_nav_item"><%= link_to "A propos", rooth_path %></li>
								<li class="main_nav_item"><%= link_to "Recherche", rooth_path %></li>
								<li class="main_nav_item"><%= link_to "Contact", rooth_path %></li>							
							</ul>
						</nav>

						<li class="nav-item submenu dropdown">
							<%= link_to "Profil", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", type="submit" %>

			                <ul class="dropdown-menu">
							<%= if current_user %>
			                    <li class="nav-item"><%= link_to 'Mes commandes', profile_path(:id => current_user.id), class: 'nav-link' %></li>
			                    <li class="nav-item"><%= link_to 'Editer mon profil', edit_user_registration_path, class: 'nav-link' %></li>
			                    <li class="nav-item"><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
			                  <% else %>
			                    <li class="nav-item"><%= link_to "Créer un compte", new_user_registration_path, class: 'nav-link' %></li>
			                    <li class="nav-item"><%= link_to "Se connecter", new_user_session_path, class: 'nav-link' %></li>
			                  <% end %>
			                </ul>
			              </li>
			            
						<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="menu_container menu_mm">

		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<div class="menu_search_form_container">
					<form action="#" id="menu_search_form">
						<input type="search" class="menu_search_input menu_mm">
						<button id="menu_search_submit" class="menu_search_submit" type="submit"><img src="" alt=""></button>
					</form>
				</div>
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><%= link_to "Accueil", rooth_path %></li>
					<li class="menu_item menu_mm"><%= link_to "A propos", rooth_path %></li>
					<li class="menu_item menu_mm"><%= link_to "Recherche", rooth_path %></li>
					<li class="menu_item menu_mm"><%= link_to "Contact", rooth_path %></li>
				</ul>
				
				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm">ZigzaGo All rights reserved</div>
			</div>

		</div>

	</div>