<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_container d-flex flex-row align-items-center justify-content-start">

						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<div>zigzago</div>
								<div> Travel your way </div>
								<%= link_to image_tag("logo.png"), root_path, class: "logo_image" %>
							</div>
						</div>

						<!-- Main Navigation -->
						<nav class="main_nav ml-auto">
							<ul class="main_nav_list">
								<li class="main_nav_item active"><%= link_to 'Accueil', root_path %></li>
								<li class="main_nav_item"><a href="about.html">A propos</a></li>
								<li class="main_nav_item"><a href="offers.html">Recherche</a></li>
								<li class="main_nav_item"><a href="contact.html">Contact</a></li>							
							</ul>
						</nav>

						<!-- Sign up / Sign up  -->
						<!-- <div class="search"> -->
						<li class="nav-item submenu dropdown">
							<a href="#" id="connect_button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
			                  aria-expanded="false" type="submit">Profil</a>


			                <ul class="dropdown-menu">
			                  <% if current_user %>
			                    <li class="nav-item"><%= link_to 'Mes commandes', profile_path(:id => current_user.id), class: 'nav-link' %></li>
			                    <li class="nav-item"><%= link_to 'Editer mon profil', edit_user_registration_path, class: 'nav-link' %></li>
			                    <li class="nav-item"><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
			                  <% else %>
			                    <li class="nav-item"><%= link_to "Créer un compte", new_user_registration_path, class: 'nav-link' %></li>
			                    <li class="nav-item"><%= link_to "Se connecter", new_user_session_path, class: 'nav-link' %></li>
			                  <% end %>
			                </ul>
			              </li>
			            
			            <!-- </div> -->


						<!-- Hamburger -->
						<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<div class="menu_search_form_container">
					<form action="#" id="menu_search_form">
						<input type="search" class="menu_search_input menu_mm">
						<button id="menu_search_submit" class="menu_search_submit" type="submit"><img src="" alt=""></button>
					</form>
				</div>
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="#">Accueil</a></li>
					<li class="menu_item menu_mm"><a href="">A propos</a></li>
					<li class="menu_item menu_mm"><a href="">Recherche</a></li>
					<li class="menu_item menu_mm"><a href="">Contact</a></li>
				</ul>

				<!-- Menu Social -->
				
				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm">ZigzaGo All rights reserved</div>
			</div>

		</div>

	</div>