<header class="header">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="header_container d-flex flex-row align-items-center justify-content-start">

					<div class="logo_container">
						<div class="logo">
							<div><%= link_to "zigzago", root_path %></div>
							<div><%= link_to "Travel your way", root_path %></div>
							<%= link_to image_tag("logo.png"), root_path, class: "logo_image" %>
						</div>
					</div>

					<nav class="main_nav ml-auto">
						<ul class="main_nav_list">
							<li class="main_nav_item"><%= link_to 'Recherche', root_path %></li>
							<li class="main_nav_item"><%= link_to 'Contact', contact_index_path %></li>
							<li class="main_nav_item_dropdown submenu dropdown">
								<a href="#" id="connect_button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="submit">Profil</a>
                <ul class="dropdown-menu">
                  <% if current_user %>
										<li class="nav-item"><%= link_to 'Favoris', root_path, class: 'nav-link' %></li>
										<li class="nav-item"><%= link_to 'Mes recherches', contact_index_path, class: 'nav-link' %></li>
                    <li class="nav-item"><%= link_to 'Mon profil', profile_path(:id => current_user.id), class: 'nav-link' %></li>
                    <li class="nav-item"><%= link_to 'Editer mon profil', edit_user_registration_path, class: 'nav-link' %></li>
                    <li class="nav-item"><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
                  <% else %>
                    <li class="nav-item"><%= link_to "Créer un compte", new_user_registration_path, class: 'nav-link' %></li>
                    <li class="nav-item"><%= link_to "Se connecter", new_user_session_path, class: 'nav-link' %></li>
                  <% end %>
                </ul>
		          </li>
						</ul>
					</nav>

					<div class="hamburger ml-auto">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</div>

				</div>
			</div>
		</div>
	</div>
</header>

<div class="menu_container menu_mm">

	<div class="menu_close_container">
		<div class="menu_close"></div>
	</div>

	<div class="menu_inner menu_mm">
		<div class="menu menu_mm">
			<ul class="menu_list menu_mm">
				<li class="menu_item menu_mm"><%= link_to 'Recherche', root_path %></li>
				<li class="menu_item menu_mm"><%= link_to 'Contact', contact_index_path %></li>
				<li class="menu_item menu_mm submenu dropdown">
					<a href="" id="connect_button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="submit">Profil</a>
					<ul class="dropdown-menu">
				    <% if current_user %>
							<li class="nav-item"><%= link_to 'Favoris', favorites_path, class: 'nav-link' %></li>
							<li class="nav-item"><%= link_to 'Mes recherches', new_apisearch_path, class: 'nav-link' %></li>
							<li class="nav-item"><%= link_to 'Mon profil', profile_path(:id => current_user.id), class: 'nav-link' %></li>
					    <li class="nav-item"><%= link_to 'Editer mon profil', edit_user_registration_path, class: 'nav-link' %></li>
					    <li class="nav-item"><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
				    <% else %>
				    	<li class="nav-item"><%= link_to "Créer un compte", new_user_registration_path, class: 'nav-link' %></li>
				    	<li class="nav-item"><%= link_to "Se connecter", new_user_session_path, class: 'nav-link' %></li>
				    <% end %>
			    </ul>
				</li>
			</ul>
		</div>
	</div>

</div>
