<!DOCTYPE html>
<html>
  <head>
    <title>ZigZaGo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
			  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			  crossorigin="anonymous"></script>

  </head>

  <body>

    <%= render 'layouts/navbar'%>
    <%= render 'layouts/flash'%>

    <%= yield %>

    <%= render "layouts/footer" %>

  </body>
</html>
